.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.5rem;
}
.nav-items {
  align-items: center;
}
.input-search {
  border: none;
  border-radius: 10px;
  font-weight: 500;
  padding: 0.5rem;
  width: 20rem;
}

.badge-div .badge-number {
  font-size: 1rem;
  background-color: var(--success-color);
  top: -12px;
  left: 20px;
}

@media screen and (max-width: 760px) {
  .input-search-div {
    margin: 0.5rem 0;
    order: 2;
  }
}
