.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.5rem;
}
.nav-items {
  align-items: center;
}
.input-search {
  border: none;
  border-radius: 10px;
  font-weight: 500;
  padding: 0.5rem;
  width: 22rem;
 
}

.badge-div .badge-number {
  font-size: 1rem;
  background-color: var(--success-color);
  top: -12px;
  left: 20px;
}
