.product-container {
  margin: 0 auto;
  width: 60%;
  margin-bottom: 1rem;
}

.back-nav-div {
  margin: 0 1rem;
  text-align: start;
  letter-spacing: 1px;
}
.product-details {
  display: flex;
  height: max-content;
  box-shadow: var(--lightShadow);
  padding: 1rem;
}
.product-details-img {
  padding: 1rem;
  flex-basis: 20rem;
}
.product-details-div {
  padding: 1rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.product-details-btns {
  width: 100%;
  margin: 0 auto;
  display: flex;
}
.product-details-btns button {
  width: 100%;
  margin-left: 0;
}

@media screen and (max-width: 760px) {
  .product-container {
    width: 80%;
  }
  .product-details {
    flex-wrap: wrap;
  }
  .product-details-img {
    margin: auto;
  }
  .product-details-btns {
    display: block;
  }
  .product-details-btns button {
    margin-top: 0.5rem;
  }
}
